{% extends "base.html" -%}
{% block content -%}
{% include "navbar.html" -%}
{% include "message_flashing.html" -%}
<div class="container mt-4">
    <h1 class="h3">確認済み案件</h1>
    <div class="mt-5 col-md-5 mx-auto">
        <form action="/completed" method="GET">
            <div class="input-group">
                <input type="search" class="form-control rounded" placeholder="キーワード"
                       name="search_string" aria-label="Search-customer" aria-describedby="search-addon">
                <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i></button>
            </div>
        </form>
    </div>
        <p>
            {% for page_num in tasks.iter_pages(left_edge=3, right_edge=2) %}
            {% if page_num %}
            {% if tasks.page == page_num %}
            <a class="" href="{{ url_for('main.completed', page=page_num) }}">{{ page_num }}</a>
            {% else %}
            <a class="text-decoration-none" href="{{ url_for('main.completed', page=page_num) }}">{{ page_num }}</a>
            {% endif %}
            {% else %}
            ...
            {% endif %}
            {% endfor %}
        </p>

        <table class="table table-sm table-hover mt-3">
            <thead>
            <tr>
                <th>案件ID</th>
                <th>投稿日</th>
                <th>投稿者</th>
                <th>グループ</th>
                <th class="text-center">内容</th>
                <th>確認者</th>
                <th>確認日</th>
                <th>メモ</th>
            </tr>
            </thead>
            <tbody>
            {% for task in tasks.items %}
            <tr>
                <td>{{ task.id }}</td>
                <td>{{ task.posted_at }}</td>
                <td>{{ task.display_name }}</td>
                <td>{{ task.group_id|truncate(8) }}</td>
                <td><a href="/post/{{ task.id }}"  class="text-decoration-none">
                    {{ task.message|truncate(20) }}</a></td>
                <td>{{ task.action.user.last_name }}</td>
                <td>{{ task.action.checked_at }}</td>
                <td>{{ task.action.memo|truncate(5) }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div></div>

{% endblock %}
