{% extends "base.html" -%}
{% block content -%}
{% include "navbar.html" -%}
{% include "message_flashing.html" -%}
<div class="container mt-4">
    <div class="mt-5">
        <h1 class="h3">未対応案件一覧</h1>
        <p>{{ strtoday }}</p>
        <p>
            {% for page_num in tasks.iter_pages(left_edge=3, right_edge=2) %}
            {% if page_num %}
            {% if tasks.page == page_num %}
            <a class="" href="{{ url_for('main.index', page=page_num) }}">{{ page_num }}</a>
            {% else %}
            <a class="text-decoration-none" href="{{ url_for('main.index', page=page_num) }}">{{ page_num }}</a>
            {% endif %}
            {% else %}
            ...
            {% endif %}
            {% endfor %}
        </p>

        <table class="table table-sm table-hover mt-3">
            <thead>
            <tr>
                <th>ID</th>
                <th>投稿日</th>
                <th>投稿者</th>
                <th>grp</th>
                <th class="text-center">投稿</th>
            </tr>
            </thead>
            <tbody>
            {% for task in tasks.items %}
            <tr>
                <td>{{ task.id }}</td>
                <td>{{ task.posted_at }}</td>
                <td>{{ task.display_name }}</td>
                <td></td>
                <td>{{ task.message|truncate(20) }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div></div>

{% endblock %}
