{% extends "base.html" -%}
{% block content -%}
{% include "navbar.html" -%}
{% include "message_flashing.html" -%}
<div class="container mt-4">
    <div class="mt-5">
        <h1 class="h3">要対応案件一覧</h1>

        <table class="table table-sm table-hover mt-3">
            <thead>
            <tr>
                <th>案件ID</th>
                <th>投稿日</th>
                <th>投稿者</th>
                <th class="text-center">内容</th>
            </tr>
            </thead>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div></div>

{% endblock %}
